body {
    background-color: #990e38;
}

.cabecalho-da-pagina {
    background-color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #990e38;
    font-family: "Segor UI Symbol";
    text-align: center;
    font-size: 40px;
}

.descricao {
    font-size: 18px;
    font-family: "Segor UI Symbol";
    text-align: center;
}

.img-logo {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.corpo-da-pagina {
    width: 1300px;
    margin: 50px auto 50px;
}

.grade {
    display: grid;
    grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
    background-color: transparent;
    height: 760px;
    grid-gap: 20px 20px;
}

.chaves {
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    border-radius: 25px;
}

.group {
    background-color: transparent;
    padding: 10px 10px 10px 10px;
}

.nome-do-grupo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.img-bandeira {
    height: 55px;
    width: 70px;
    margin: 30px 30px 0 10px;
    border-radius: 10px;
}

.nome-do-pais {
    margin: -40px 30px 0 90px;
    font-family: Arial, Helvetica, sans-serif;
}